<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Patient List</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-5">

    <h2>CareSync Patient Directory</h2>

    <a th:href="@{/patients/new}" class="btn btn-primary">
    Register New Patient
</a>
    <table class="table table-bordered table-striped">

        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Medical History</th>
            <th>Actions</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="patient : ${listPatients}">

            <td th:text="${patient.id}"></td>

            <td th:text="${patient.name}"></td>

            <td th:text="${patient.age}"></td>

            <td th:text="${patient.email}"></td>

            <td th:text="${patient.medicalHistory}"></td>

            <td>
                <a th:href="@{/patients/edit/{id}(id=${patient.id})}"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>


                <a th:href="@{/patients/delete/{id}(id=${patient.id})}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>